<!DOCTYPE html>
<html>
<head>
   <title>{{=it.title}}</title>
   <link rel="stylesheet" href="/views/main/css/styles.css"/>
   {{=it.jsBlock}}
</head>
<body class="view-main">
<div class="view-main__Content">
   {{=it.content || ""}}
</div>
</body>
</html>